<!DOCTYPE html>
<html>
  <head>
    <title>Foodery - Order Foods Online !</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
    <h1>Foodery</h1>
    <p>Fill in the details below to order your yummy food !</p>
    <br>
    <br>
    <form method='post' action='/submit-form'>
      <label for='name'>Full Name : 
        <input type='text' name='name'>
      </label>
      <br>
      <p></p>
      <label for='fn'>Food Names : 
        <input type='text' name='fn'>
      </label>
      <br>
      <p></p>
      <label for='add'>Full Address : 
        <input type='text' name='add'>
      </label>
      <br>
      <br>
      <input type="submit" value='Place Order !'>
    </form>
    </center>
  </body>
</html>
